# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables (Contains Secret Keys)
.env

# Local Storage & Vector DB
downloads/
vector_db/

# Python Caches
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/