streamlit>=1.40.0
python-dotenv>=1.0.1


yt-dlp>=2024.08.06
ffmpeg-python>=0.2.0
pydub>=0.25.1

openai-whisper
torch
torchaudio

deep-translator>=1.11.4

langchain>=1.0.0
langchain-core>=1.0.0
langchain-community>=0.4.0
langchain-text-splitters>=1.0.0

langchain-mistralai
mistralai

chromadb>=1.0.0
langchain-chroma>=1.0.0

langchain-huggingface>=1.0.0
sentence-transformers>=3.0.0
huggingface-hub
transformers

reportlab>=4.2.0

python-docx>=1.1.0

pydantic>=2.0.0
requests>=2.32.0

tiktoken
fastapi
uvicorn
